/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

h1, h2, h3, h4, h5, ul {
  padding-left: 20px;
}

em {
  padding-left: 10px;
  font-weight: 500;
}

.main {
  margin: 10px -10px 0px 20px;
}

.error {
  padding-left: 10px;
  font-weight: bold;
  font-size: 24px;
  color: #FF0000;
}

.form {
  width: 80%;
  margin: 0px auto;
}

.width {
  width: 60%;
  padding-left: 20px;
}
